In [8]:
# Importing necessary libraries


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
crime = pd.read_csv("/Users/samuelbamgbola/Downloads/Crime-HamoyeAI-Capstone-Project/africa_crime.csv")

In [5]:
crime.shape

(315940, 31)

In [6]:
crime.head()

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP
0,ALG1,1997-01-01,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,Douaouda,36.672,2.789,1,Algeria Watch,Other,5 January: Beheading of 5 citizens in Douaouda...,5,NaN,1582579226
1,ALG2,1997-01-02,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,Hassasna,36.133,0.883,1,Algeria Watch,Other,Two citizens were beheaded in Hassasna.,2,NaN,1582579226
2,ALG3,1997-01-03,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,Hassi El Abed,34.966,-0.290,1,Algeria Watch,Other,Two citizens were killed in a raid on the vill...,2,NaN,1582579226
3,ALG4,1997-01-04,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,Blida,36.469,2.829,1,Algeria Watch,Other,4 January: 16 citizens were murdered in the vi...,16,NaN,1582579226
4,ALG5,1997-01-05,1997,1,Political violence,Violence against civilians,Attack,GIA: Armed Islamic Group,NaN,2,...,Douaouda,36.672,2.789,1,Algeria Watch,Other,5 January: Killing of 18 citizens in the Olivi...,18,NaN,1582579226

In [7]:
crime.isna().sum()

EVENT_ID_CNTY              0
EVENT_DATE                 0
YEAR                       0
TIME_PRECISION             0
DISORDER_TYPE              0
EVENT_TYPE                 0
SUB_EVENT_TYPE             0
ACTOR1                     0
ASSOC_ACTOR_1         231997
INTER1                     0
ACTOR2                 86136
ASSOC_ACTOR_2         253699
INTER2                     0
INTERACTION                0
CIVILIAN_TARGETING    220363
ISO                        0
REGION                     0
COUNTRY                    0
ADMIN1                     2
ADMIN2                  2451
ADMIN3                161453
LOCATION                   0
LATITUDE                   0
LONGITUDE                  0
GEO_PRECISION              0
SOURCE                     0
SOURCE_SCALE               0
NOTES                      0
FATALITIES                 0
TAGS                  255561
TIMESTAMP                  0
dtype: int64

In [9]:
##Â Checking missing values in different columns

In [10]:
missing_admin2 = crime.loc[crime['ADMIN2'].isna()]

In [11]:
missing_admin2.groupby(['COUNTRY'])['COUNTRY'].count()

COUNTRY
Algeria                                         776
Benin                                             1
Comoros                                          11
Democratic Republic of Congo                    796
Lesotho                                         220
Mauritius                                       357
Mayotte                                         121
Nigeria                                           1
Republic of Congo                                 1
Reunion                                           2
Rwanda                                          127
Saint Helena, Ascension and Tristan da Cunha      2
Sao Tome and Principe                            25
Seychelles                                       11
Name: COUNTRY, dtype: int64

In [12]:
crime.loc[crime['COUNTRY']=='Seychelles'][['ADMIN1', 'ADMIN2', 'ADMIN3', 'LOCATION', 'LATITUDE', 'LONGITUDE']]

             ADMIN1 ADMIN2 ADMIN3        LOCATION  LATITUDE  LONGITUDE
176151      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176152      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176153      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176154      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176155      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176156      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176157      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176158  Mont Fleuri    NaN    NaN     Mont Fleuri    -4.633     55.458
176159      Bel Air    NaN    NaN         Bel Air    -4.629     55.445
176160      Bel Air    NaN    NaN        Victoria    -4.623     55.452
176161  Baie Lazare    NaN    NaN  Anse La Mouche    -4.735     55.492

###Â Defining Features for Selection

In [13]:
features = ['DISORDER_TYPE', 'REGION', 'COUNTRY', 'ADMIN1', 'LOCATION', 'EVENT_TYPE', 'SUB_EVENT_TYPE',
            'ACTOR1', 'INTER1', 'INTER2', 'INTERACTION']
target = ['FATALITIES']

In [15]:
crime.loc[crime['ACTOR1']=='Al Shabaab'].groupby('COUNTRY')['COUNTRY'].count()

COUNTRY
Djibouti        1
Ethiopia        4
Kenya         530
Somalia     11096
Tanzania        6
Uganda          3
Name: COUNTRY, dtype: int64

In [16]:
crime.loc[crime['ACTOR1']=='Al Shabaab'].groupby('ACTOR1')['FATALITIES'].sum()

ACTOR1
Al Shabaab    19739
Name: FATALITIES, dtype: int64

### Checking Missing Values in ADMIN1

In [17]:
missing_admin1 = crime.loc[crime['ADMIN1'].isna()]

In [18]:
missing_admin1[['COUNTRY', 'ADMIN1', 'ADMIN2', 'ADMIN3', 'LOCATION', 'LATITUDE', 'LONGITUDE']]

        COUNTRY ADMIN1 ADMIN2 ADMIN3        LOCATION  LATITUDE  LONGITUDE
71777     Benin    NaN    NaN    NaN  Coast of Benin     6.237      2.164
155784  Nigeria    NaN    NaN    NaN  Gulf of Guinea     2.856      1.328

In [19]:
crime.loc[crime['LOCATION']=='Coast of Benin']

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP
71777,BEN400,2021-05-31,2021,1,Political violence,Violence against civilians,Attack,Pirates (Benin),NaN,3,...,Coast of Benin,6.237,2.164,3,AFP; Xinhua; Actu Benin,Subnational-International,"On 31 May 2021, sea pirates attacked a fishing...",0,NaN,1624310472

In [20]:
crime.loc[crime['LOCATION']=='Gulf of Guinea']

,EVENT_ID_CNTY,EVENT_DATE,YEAR,TIME_PRECISION,DISORDER_TYPE,EVENT_TYPE,SUB_EVENT_TYPE,ACTOR1,ASSOC_ACTOR_1,INTER1,...,LOCATION,LATITUDE,LONGITUDE,GEO_PRECISION,SOURCE,SOURCE_SCALE,NOTES,FATALITIES,TAGS,TIMESTAMP
155784,NIG27797,2018-11-11,2018,1,Political violence,Battles,Armed clash,Military Forces of Nigeria (2015-),NaN,1,...,Gulf of Guinea,2.856,1.328,3,"Risk and Strategic Management, Corporation",Local partner-International,"On 11 November 2018, the Nigerian Navy interce...",0,NaN,1666026860

### Feature Selection

In [21]:
X = crime[features]
y = crime["FATALITIES"]

In [22]:
X.shape

(315940, 11)

In [23]:
X.isna().sum()

DISORDER_TYPE     0
REGION            0
COUNTRY           0
ADMIN1            2
LOCATION          0
EVENT_TYPE        0
SUB_EVENT_TYPE    0
ACTOR1            0
INTER1            0
INTER2            0
INTERACTION       0
dtype: int64

In [24]:
# Dealing with missing values in ADMIN1

X.loc[71777:71777,'ADMIN1'] = "Oueme"
X.loc[155784:155784,'ADMIN1'] = "Bayelsa"

/Users/samuelbamgbola/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
X.isna().sum()

DISORDER_TYPE     0
REGION            0
COUNTRY           0
ADMIN1            0
LOCATION          0
EVENT_TYPE        0
SUB_EVENT_TYPE    0
ACTOR1            0
INTER1            0
INTER2            0
INTERACTION       0
dtype: int64

### Performing Binning on Fatalities

In [26]:
fatalities_bins = [-1, 0, 1, 10, 50, 100, 500, 1350]
group_names = ["NO_FATALITY", "1_FATALITY", "2_TO_10", "11_TO_50", "51_TO_100", "101_TO_500", "501_TO_1350"]